html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: white;
}

.verticallyCenter {
  display: flex;
  align-items: center;
}

.horizontallyCenter > div {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.fillHeight {
  height: 100%;
}

pre code {
  display: block;
  color: #d0d0d0;
  padding: 10px;
  background-color: #333;
  border-radius: 3px;
  overflow-x: auto;
}

/* header */
body {
  background-color: #1e1e1e;
  color: white;
}

#appHeader {
  background-color: #282c34;
  display: flex;
  align-items: center;
  padding: 10px 15px;
  border-bottom: 1px solid #000;
}

#appHeader h1 {
  margin: 0;
  padding: 0;
  font-size: 20px;
  color: white;
}

#appHeader h1 a {
  text-decoration: none;
}

#headerRight {
  flex: 1;
  text-align: right;
}

#headerRight a:not(:first-child) {
  margin-left: 5px;
}

/* content */

#content {
  margin: auto;
  max-width: 1000px;
  padding: 10px 30px;
  background-color: #4d5564;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}

#content h1:first-child {
  margin-top: 0px;
}

#content h2 {
  border-bottom: 1px solid #fff;
  padding-bottom: 4px;
  margin-top: 30px;
}

#content h3, #content h3 code {
  font-size: 21px;
  margin-top: 35px;
  margin-bottom: 0;
}

#content p > code, #content li > code {
  font-size: 1.15em;
}

/* a11y-dark theme */
/* Based on the Tomorrow Night Eighties theme: https://github.com/isagalaev/highlight.js/blob/master/src/styles/tomorrow-night-eighties.css */
/* @author: ericwbailey */

/* Comment */
.hljs-comment,
.hljs-quote {
  color: #d4d0ab;
}

/* Red */
.hljs-variable,
.hljs-template-variable,
.hljs-tag,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class,
.hljs-regexp,
.hljs-deletion {
  color: #ffa07a;
}

/* Orange */
.hljs-number,
.hljs-built_in,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-params,
.hljs-meta,
.hljs-link {
  color: #f5ab35;
}

/* Yellow */
.hljs-attribute {
  color: #ffd700;
}

/* Green */
.hljs-string,
.hljs-symbol,
.hljs-bullet,
.hljs-addition {
  color: #abe338;
}

/* Blue */
.hljs-title,
.hljs-section {
  color: #00e0e0;
}

/* Purple */
.hljs-keyword,
.hljs-selector-tag {
  color: #dcc6e0;
}

.hljs {
  display: block;
  overflow-x: auto;
  background: #2b2b2b;
  color: #f8f8f2;
  padding: 0.5em;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

@media screen and (-ms-high-contrast: active) {
  .hljs-addition,
  .hljs-attribute,
  .hljs-built_in,
  .hljs-builtin-name,
  .hljs-bullet,
  .hljs-comment,
  .hljs-link,
  .hljs-literal,
  .hljs-meta,
  .hljs-number,
  .hljs-params,
  .hljs-string,
  .hljs-symbol,
  .hljs-type,
  .hljs-quote {
        color: highlight;
    }

    .hljs-keyword,
    .hljs-selector-tag {
        font-weight: bold;
    }
}
