/* header */
.appHeader {
  background-color: #282c34;
  display: flex;
  width: 100%;
  align-items: center;
  padding: 10px 15px;
  border-bottom: 1px solid #000;
}

h1 {
  margin: 0;
  padding: 0;
  font-size: 20px;
  color: white;
}

a {
  color: white;
}

#headerRight {
  flex: 1;
  text-align: right;
}

#headerRight a:not(:first-child) {
  margin-left: 5px;
}

/* Code Editor */

#codeEditor {
  height: 100%;
  position: relative;
}

/* Configuration */

.Pane.Pane1 {
  overflow-y: auto;
  background-color: #322834;
}
