/node_modules
/build-website
/dist
/.rpt2_cache
*.js.map
npm-debug.log
yarn-error.log
package-lock.json
/lerna-debug.log
/packages/printer/dist
/packages/printer/node_modules
/packages/printer/target
/packages/benchmarks
/packages/rust-development/target
/packages/dprint-plugin-typescript/target
/packages/playground/wasm/target
