/node_modules
/build-website
/dist
/.rpt2_cache
*.js.map
npm-debug.log
yarn-error.log
yarn.lock
package-lock.json
/lerna-debug.log
/packages/core/wasm/target
/crates/development/target
/packages/dprint-plugin-typescript/wasm/target
/packages/playground/wasm/target
/packages/dprint-plugin-jsonc/wasm/target
/crates/dprint/test/plugin/target
/crates/dprint/test/plugin/Cargo.lock
/crates/dprint/test/test_plugin.wasm
