[workspace]
members = [
  "crates/core",
  "crates/development",
  "crates/test-process-plugin",
  "crates/dprint",
]
# excluded because this needs to be compiled as wasm to work
exclude = [
  "crates/test-plugin",
]

[profile.dev]
# disabled to decrease size of ./target folder
# debug = 0
