[workspace]
resolver = "2"
members = [
  "crates/core",
  "crates/core-macros",
  "crates/development",
  "crates/dprint",
  "crates/test-process-plugin",
]
# excluded because this needs to be compiled as wasm to work
exclude = [
  "crates/test-plugin",
]

# Build release with debug symbols: cargo build --profile=release-with-debug
[profile.release-with-debug]
inherits = "release"
debug = true

[patch.crates-io]
jsonc-parser = { path = "../jsonc-parser" }
