/* header */
.appHeader {
  background-color: #282c34;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  border-bottom: 1px solid #000;
}

h1 {
  margin: 0;
  padding-left: 16px;
  font-size: 1.7rem;
  color: white;
  font-weight: 600;
}

a {
  color: white;
  text-decoration: none;
}

.container {
  height: 100%;
  width: 100%;
}

#headerRight {
  align-self: stretch;
  display: flex;
  align-items: stretch;
}

#headerRight a {
  display: flex;
  align-items: center;
  padding: 0 .75rem;
}

#headerRight a:hover {
  background-color: #1d2026;
}

.playgroundSubTitle {
  background-color: #4d5564;
  padding: 5px 10px;
  font-size: 1.2rem;
}

.row {
  display: flex;
}

.column {
  margin-left: 10px;
}

/* Code Editor */

.codeEditor {
  height: 100%;
  width: 100%;
  position: relative;
}
