/* header */
.appHeader {
  background-color: #282c34;
  display: flex;
  width: 100%;
  align-items: center;
  padding: 10px 15px;
  border-bottom: 1px solid #000;
}

h1 {
  margin: 0;
  padding: 0;
  font-size: 20px;
  color: white;
}

a {
  color: white;
}

.container {
  height: 100%;
  width: 100%;
}

#headerRight {
  flex: 1;
  text-align: right;
}

#headerRight a:not(:first-child) {
  margin-left: 5px;
}

.playgroundSubTitle {
  background-color: #4d5564;
  padding: 5px 10px;
  font-size: 1.2rem;
}

.row {
  display: flex;
}

.column {
  margin-left: 10px;
}

/* Code Editor */

.codeEditor {
  height: 100%;
  width: 100%;
  position: relative;
}
