<section class="section" id="content">
    <article id="content-body" class="container">
        <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
              <li><a href="/blog">Blog</a></li>
            </ul>
          </nav>
        <h1 class="title">{{title}}</h1>
        <div class="blog-date-author">
            <time datetime="{{publish_date}}">{{publish_date}}</time>
            by <a href="https://github.com/dsherret">David Sherret</a>
        </div>
        <!-- inject -->
    </article>
</section>
