<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-55630862-3"></script>
    <script async src="/scripts.js"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-55630862-3');
    </script>

    <meta charset="utf-8" />
    <title><!-- title-inject --></title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta name="description" content="<!-- description-inject -->">
    <meta name="author" content="Dprint Code Formatting" />
    <!-- additional-inject -->
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <h1 class="title"><a href="/">dprint</a></h1>

            <a role="button" id="navbarBurger" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarLinks">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div class="navbar-menu" id="navbarLinks">
            <div class="navbar-end">
                <a class="navbar-item" href="/install">Getting Started</a>
                <a class="navbar-item" href="/playground">Playground</a>
                <a class="navbar-item" href="/pricing">Pricing</a>
                <a class="navbar-item" href="https://github.com/dprint/dprint" rel="noopener noreferrer">View on GitHub</a>
            </div>
        </div>
    </nav>
    <!-- inject -->
    <footer class="footer">
        <div>
            <div class="level">
                <div class="level-left">
                    <p class="level-item">
                        <a href="/">Home</a>
                    </p>
                    <p class="level-item">
                        <a href="/contact">Contact Us</a>
                    </p>
                    <p class="level-item">
                        <a href="/privacy-policy">Privacy Policy</a>
                    </p>
                </div>
                <div class="level-right">
                    <p class="level-item">
                        <a href="https://twitter.com/dprintfmt">Twitter</a>
                    </p>
                    <p class="level-item">
                        <a href="https://github.com/dprint">GitHub</a>
                    </p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
