--- layout: layouts/base.njk ---

<section class="section" id="content">
  <div class="columns">
    <aside class="menu column is-narrow" style="width: 210px">
      <ul class="menu-list">
        <li><a href="/overview">Overview</a></li>
        <li><a href="/install">Install</a></li>
        <li><a href="/setup">Setup</a></li>
        <li><a href="/config">Configuration</a></li>
        <li><a href="/cli">CLI</a></li>
        <li><a href="/ci">Continuous Integration</a></li>
      </ul>
      <p class="menu-label">Plugins</p>
      <ul class="menu-list">
        <li><a href="/plugins">General</a></li>
        <li><a href="/plugins/typescript">TypeScript / JavaScript</a></li>
        <li><a href="/plugins/json">JSON</a></li>
        <li><a href="/plugins/markdown">Markdown</a></li>
        <li><a href="/plugins/toml">TOML</a></li>
        <li><a href="/plugins/dockerfile">Dockerfile</a></li>
        <li><a href="/plugins/rustfmt">Rustfmt</a></li>
        <li><a href="/plugins/roslyn">Roslyn (C#/VB)</a></li>
        <li><a href="/plugins/prettier">Prettier</a></li>
        <li><a href="/plugins/biome">Biome (JS/TS/JSON)</a></li>
        <li><a href="/plugins/ruff">Ruff (Python)</a></li>
        <li><a href="/plugins/jupyter">Jupyter</a></li>
        <li><a href="/plugins/exec">Exec (Many CLIs)</a></li>
        <li><a href="/plugin-dev">Creating a Plugin</a></li>
      </ul>
    </aside>
    <div id="content-body" class="column documentation">
      {{ content | safe }}
    </div>
  </div>
</section>
