---
layout: layouts/base.njk
isDocumentation: true
---

<section class="section" id="content">
  <div class="columns">
    <aside class="menu column is-narrow doc-sidebar" style="width: 210px">
      {% include "partials/doc-menu.njk" %}
    </aside>
    <div id="content-body" class="column documentation">
      {{ content | safe }}
    </div>
  </div>
</section>
