@charset "utf-8";

$header-background: #282c34;
$content-background: #4d5564;
$hover-background: darken($header-background, 5%);
$content-width: 1050px;

// bulma customization
$white: #000;
$white-bis: lighten($white, 7%);
$white-ter: lighten($white, 14%);
$black: #fff;
$black-bis: darken($black, 2%);
$black-ter: darken($black, 4%);

$black: hsl(0, 0%, 100%);
$black-bis: hsl(0, 0%, 98%);
$black-ter: hsl(0, 0%, 96%);

$grey-darker: hsl(0, 0%, 86%);
$grey-dark: hsl(0, 0%, 71%);
$grey: hsl(0, 0%, 48%);
$grey-light: hsl(0, 0%, 29%);
$grey-lighter:hsl(0, 0%, 21%);
$grey-lightest: hsl(0, 0%, 10%);

$white-ter: hsl(0, 0%, 14%);
$white-bis: hsl(0, 0%, 7%);

$white: hsl(0, 0%, 4%);

$family-sans-serif: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
$link: #fff;
$link-hover: darken($link, 10%);
$background: #1e1e1e;
$body-background-color: $background;
$text: #fff;
$text-strong: #fff;
$section-padding: 1rem 1.5rem;
$code-padding: 0rem;
$pre-padding: 0rem;
$pre-background: inherit;
$pre: #fff;
$border: #fff;
$notification-background-color: $header-background;

// header
$navbar-background-color: $header-background;
$navbar-item-color: $link;
$navbar-item-hover-background-color: $hover-background;

// left menu
$menu-label-color: #fff;
$menu-item-hover-background-color: $hover-background;
$menu-nested-list-margin: 0.25em 0 0.75em 0.75em;
$menu-nested-list-padding-left: 0.5em;

// breadcrumbs
$breadcrumb-item-separator-color: #fff;

// footer
$footer-background-color: $header-background;
$footer-padding: 1rem 0;

@import "../../scripts/node_modules/bulma/bulma.sass";
@import "a11y-dark.scss";

// mixins

@mixin center-width {
  @media (min-width: $content-width) {
    width: $content-width;
    margin-left: auto;
    margin-right: auto;
  }
}

// header
nav.navbar {
  border-bottom: 1px solid #000;
}

nav.navbar h1.title {
  margin-left: 1rem;
  margin-bottom: 0;
  font-size: 1.7rem;
  display: flex;
  align-items: center;
}

// footer

footer {
  border-top: 1px solid #000;

  > div {
    padding: 0 1rem;

    @media (min-width: $content-width) {
      width: $content-width;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

// rest

html, body {
  margin: 0;
  padding: 0;
}

html {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  flex: 1;
  display: flex;
  flex-direction: column;
}

#content-body ol, #content-body ul, #content-body p, #content-body h2, #content-body h3 {
  margin: 1rem 0;
}

pre {
  white-space: pre-wrap;
}

pre code {
  display: block;
  padding: 10px;
  background-color: #333;
  border-radius: 3px;
  overflow-x: auto;
}

code {
  background-color: inherit;
  color: $text;
}

/* main page */

.inner-content {
  @include center-width;
}

#main-bottom {
  background-color: $content-background;
  flex: 1;
  padding: 3rem 0;
}

/* content */

#content {
  flex: 1;
  align-self: center;
  background-color: $content-background;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  width: 100%;

  @media (min-width: $content-width) {
    width: $content-width;
  }
}

#content-body {
  padding-bottom: 2rem;
}

#content-body h1 {
  font-size: $size-3;
  font-weight: bold;
  margin-bottom: 1rem;
}

#content-body h2 {
  border-bottom: 1px solid #fff;
  padding-bottom: 4px;
  font-size: $size-4;
}

#content-body h3, #content-body h3 code {
  font-size: $size-5;
  font-style: italic;
}

#content-body a {
  text-decoration: underline;
}

#content-body .breadcrumb a {
  text-decoration: none;
}

#content-body nav.breadcrumb {
  margin-bottom: 0.5rem;
}
#content-body .breadcrumb ul {
  padding-left: 0;
}

#content-body ul, #content-body ol {
  padding-left: 2em;
}

#content-body ul {
  list-style-type: square;
}

// pricing

#pricing {
  display: flex;
}

#pricing-subscribe {
  margin-left: 0.5rem;
}
