name: Package Publish

on:
  release:
    types: [published]
  workflow_dispatch:
permissions:
  id-token: write
  contents: read
jobs:
  publish-cargo:
    runs-on: ubuntu-latest
    if: github.repository == 'dprint/dprint'
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - uses: dsherret/rust-toolchain-file@v1
      - uses: rust-lang/crates-io-auth-action@v1
        id: auth
      - name: Cargo publish
        env:
          CARGO_REGISTRY_TOKEN: ${{ steps.auth.outputs.token }}
        run: |
          cd crates/dprint
          cargo publish
  publish-npm:
    runs-on: ubuntu-latest
    if: github.repository == 'dprint/dprint'
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - uses: actions/setup-node@v6
        with:
          node-version: "24.x"
          registry-url: "https://registry.npmjs.org"
      - uses: denoland/setup-deno@v2

      - name: npm publish
        run: |
          cd deployment/npm
          deno run -A build.ts --publish
