name: cargo publish development crate

on:
  workflow_dispatch:

jobs:
  rust:
    name: cargo publish development crate
    runs-on: ubuntu-latest
    timeout-minutes: 30

    steps:
      - name: Clone repository
        uses: actions/checkout@v6
        with:
          token: ${{ secrets.GH_DPRINTBOT_PAT }}

      - uses: denoland/setup-deno@v2
      - uses: dsherret/rust-toolchain-file@v1

      - name: Cargo login
        run: cargo login ${{ secrets.CRATES_TOKEN }}

      - name: Cargo publish
        run: cd crates/development && cargo publish
