name: cargo publish core crate

on:
  workflow_dispatch:

jobs:
  rust:
    name: cargo publish core crate
    runs-on: ubuntu-latest
    timeout-minutes: 30

    steps:
      - name: Clone repository
        uses: actions/checkout@v6
        with:
          token: ${{ secrets.GH_DPRINTBOT_PAT }}

      - uses: dsherret/rust-toolchain-file@v1

      - uses: rust-lang/crates-io-auth-action@v1
        id: auth
      - name: Cargo publish
        env:
          CARGO_REGISTRY_TOKEN: ${{ steps.auth.outputs.token }}
        run: |
          cd crates/core
          cargo publish
