name: Release

on:
  workflow_dispatch:
    inputs:
      releaseKind:
        description: 'Kind of release'
        default: 'minor'
        type: choice
        options:
          - patch
          - minor
        required: true

jobs:
  rust:
    name: release
    runs-on: ubuntu-latest
    timeout-minutes: 30

    steps:
      - name: Clone repository
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.GH_DPRINTBOT_PAT }}

      - uses: denoland/setup-deno@v1
      - uses: dsherret/rust-toolchain-file@v1

      - name: Bump version and tag
        env:
          GITHUB_TOKEN: ${{ secrets.GH_DPRINTBOT_PAT }}
          GH_WORKFLOW_ACTOR: ${{ github.actor }}
        run: |
          git config user.email "${{ github.actor }}@users.noreply.github.com"
          git config user.name "${{ github.actor }}"
          deno run -A https://raw.githubusercontent.com/dprint/automation/0.5.3/tasks/publish_release.ts --${{github.event.inputs.releaseKind}} ./crates/dprint/Cargo.toml
