name: Website
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          persist-credentials: false
      - uses: denoland/setup-deno@v2
        with:
          cache: true
          deno-version: canary
      - name: Install dependencies
        run: (cd website && deno install)

      - name: Build playground
        run: (cd website/playground && deno task build)

      - name: Build website
        run: (cd website && deno task build:ci)

      - name: Deploy
        if: github.ref == 'refs/heads/main'
        uses: JamesIves/github-pages-deploy-action@releases/v3
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          BRANCH: gh-pages
          FOLDER: website/_site
          single-commit: true
